@charset "utf-8";

html, body {
    height: 100%;
    overflow-y: scroll;
    background: none repeat scroll 0 0 #FFFFFF;
    font-family: 'Microsoft Yahei','微软雅黑', 'Courier New', Courier, monospace
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
form,
th,
td {
    margin: 0;
    padding: 0;
}

body,
button,
input,
select,
textarea,
p {
    font-family: 'Microsoft YaHei', '微软雅黑', "Helvetica Neue", Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


ul,
ol {
    list-style: none;
}


body {
    display: block;
}

.header {
    background-color: #fff;
    width: 100%;
    height: 70px;
    color: #1cde1b;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.013334rem solid #ddd;
}

.footer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #999;
    font-size: 14px;
}

.lay-content {
    width: 100%;
}

.main {
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}


.right-absolute-outer {
    position:fixed;
    top: 45%;
    right: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #1cde1b; */
    padding: 10px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background: #1cde1b;
    color: #fff;
    font-size: 15px;
    opacity: 0.9;
}

.right-absolute-inner {
    display: none;
    position:fixed;
    top: 35%;
    right: 0;
    z-index: 100000;
    
    /* display: flex; */
    justify-content: center;
    flex-direction: column;

    border: 1px solid #ddd;
    background: #1cde1b;
    color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    opacity: 0.9;
}

.right-absolute-inner span, .right-absolute-inner a {
    color: #fff;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5%;
}

.right-absolute-inner span:last-of-type {
    margin-bottom: 10px;
}

.c-timer {
    text-align: center;
    padding: 0 0 10px;
}

.title-mini {
    font-size: 16px;
    color: #999;
}