html {
    background-color: #fff;
}
.main {
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}


.main .item {
    width: 90%;
    margin: 0 auto 10px;
    display: flex;
    align-items: center;
    min-height: 30px;
}

.main .rule {
    margin-top: 20px;
    justify-content: flex-start;
    color: #666;
    font-size: 15px;
}

[data-dpr="2"] .main .rule {
    font-size: 30px;
}

[data-dpr="3"] .main .rule {
    font-size: 45px;
}

.main .rule .do-rule-tip {
    margin-left: 5px;
    color: #FF9800;
    font-size: 14px;
}

[data-dpr="2"] .main .rule .do-rule-tip {
    font-size: 28px;
}

[data-dpr="3"] .main .rule .do-rule-tip {
    font-size: 42px;
}

.main .textarea textarea {
    height: 100px;
    width: 95%;
    padding: 10px;
    color: #333;
    border: 0.013334rem solid #999;
    border-radius: 3px;
    font-size: 16px;
}

[data-dpr="2"] .main .textarea {
    font-size: 32px;
}

[data-dpr="3"] .main .textarea {
    font-size: 48px;
}

.main .img-upload {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
    color: #999;
    font-size: 14px;
}

[data-dpr="2"] .main .img-upload {
    font-size: 28px;
}

[data-dpr="3"] .main .img-upload {
    font-size: 42px;
}

.main .img-upload-tip {
    margin-bottom: 10px;
}

.main .shuoshuo-btn {
    text-align: center;
    justify-content: center;
}

.main .shuoshuo-btn button {
    margin-top: 10px;
    background-color: #ff980080;
    width: 270px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: #333;
    font-size: 18px;
}

[data-dpr="2"] .main .shuoshuo-btn button {
    font-size: 36px;
}

[data-dpr="3"] .main .shuoshuo-btn button {
    font-size: 54px;
}