html {
    background-color: #fff;
}
.main {
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 100px;
}



.must-star {
    color: #ff0000;
    margin-right: 5px;
    margin-top: 3px;
    display: block;
    float: left;
}

.sub-tit {
    font-size: 19px;
    color: #000;
    font-weight: 550;
}

.mark {
    
}