<{layout name="layout/layout" /}>
<{load href="/static/mobile/css/mine.css" /}> 
<{load href="/static/mobile/js/mine.js" /}> 
<div class="main">
    <div class="item top-img">
        <img src="/static/mobile/images/def_mine_top.jpg"/>
    </div>
    <div class="item item-menu item-meminfo">
        <div class="meminfo">
            <div class="mem-hea-left">
                <div class="mem-hea-img">
                    <img src="__STATIC__/mobile/images/head_def.jpg" />
                </div>
                <div class="mem-hea-info">
                    <span class="name">令狐冲</span>
                    <span class="tip">安全模式不允许使用真名和头像</span>
                </div>
            </div>
            <div class="switch-iden">
                <span class="icon-whole icon-iden"></span><span>切换身份</span>
            </div>
        </div>
        <div class="mao-info">
            <ul>
                <li>
                    <span class="d-val">0</span>
                    <span>关注</span>
                </li>
                <li>
                    <span class="d-val">0</span>
                    <span>粉丝</span>
                </li>
                <li>
                    <span class="d-val">0</span>
                    <span>赞数</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="item item-menu menus">
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-fav"></span>
                <span>我的收藏</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-secret"></span>
                <span>我的秘密</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-gift"></span>
                <span>我的礼物</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-comment1"></span>
                <span>我的评论</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
    </div>
    <!-- <div class="item item-menu menus">
        <div>
            <div class="menu-left">
                <span class="icon">icon</span>
                <span>开心一刻</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
        <div>
            <div class="menu-left">
                <span class="icon">icon</span>
                <span>查看圈子</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
    </div> -->
    <div class="item item-menu menus">
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-rule"></span>
                <span>发布规则</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
        <div>
            <div class="menu-left">
                <span class="icon-whole icon-about"></span>
                <span>关于我们</span>
            </div>
            <span class="icon-whole icon-right"></span>
        </div>
    </div>
</div>
<{include file='public/_footer' /}>