<{layout name="layout/layout" /}>
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/xmsubject.css?v=<{:time()}>" />
<script src="__STATIC__/lib/timedown.js?v=<{:time()}>"></script>
<script src="__STATIC__/mobile/js/xmsubject.js?v=<{:time()}>"></script>
<div class="weui-form">
    <{empty name='list'}>
    <div class="weui-loadmore weui-loadmore_line">
        <span class="weui-loadmore__tips">暂无试题</span>
    </div>
    <{else /}>
    <{volist name='list' id='sbj' key="sbj_index"}>
    <div class="weui-cells__group weui-cells__group_form" id="form_group_<{$sbj.id}>">
        <div class="weui-cells__title sub-tit">
            <span class="must-star">*</span>
            <!-- <{empty name=":input('page')"}>
            <{assign name='cur_page' value="0"}>
            <{else /}>
            <{assign name='cur_page' value=":input('page') - 1" }>
            <{/empty}> -->
            <!-- <span><{$cur_page * config('paginate.list_rows') + $sbj_index}>、<{$sbj.question}>？</span> -->
            <span><{$sbj.sub_order_i}>、<{$sbj.question}>？</span>
            <{eq name='sbj.is_mark' value='1'}>
            <span id="mark_sub_id_<{$sbj.id}>" class="mark weui-btn weui-btn_mini weui-btn_plain-primary" for_mark_sub_id="<{$sbj.id}>" for_mark_stu="<{$sbj.is_mark}>" style="color: #666666;">取消标注</span>
            <{else /}>
            <span id="mark_sub_id_<{$sbj.id}>" class="mark weui-btn weui-btn_mini weui-btn_plain-primary" for_mark_sub_id="<{$sbj.id}>" for_mark_stu="0">标注一下</span>
            <{/eq}>
            <{notempty name='sbj.answer'}>
            <{assign name='answer_arr' value=':json_decode($sbj.answer, true)'}>
            <{/notempty}>
        </div>
        <{notempty name='answer_arr'}>
        <div class="weui-cells weui-cells_checkbox">
            <input type="hidden" id="hidden_sub_id_<{$sbj.id}>" for_radio_name='radio_<{$sbj.id}>' for_radio_sub_id='<{$sbj.id}>' />
            <{volist name='answer_arr' id='answer' key="as_index"}>
            <label class="weui-cell weui-check__label <{if condition='!empty($sbj.u_answer) && $sbj.u_answer == $answer.a'}>dosub-lbl-checked<{/if}>" for="x<{$sbj.id . '_' . $as_index}>">
                <div class="weui-cell__bd">
                    <p><{$answer['a']}>、<{$answer['t']}></p>
                </div>
                <div class="weui-cell__ft">
                    <{if condition="!empty($sbj.u_answer) && $sbj.u_answer == $answer['a']"}>
                    <input sub_id="<{$sbj.id}>" u_id="<{$member['uid']}>" type="radio" class="weui-check" name="radio_<{$sbj.id}>" id="x<{$sbj.id  . '_' . $as_index}>" value="<{$answer['a']}>" checked="checked">
                    
                    <span class="weui-icon-checkbox-diy weui-icon-checkbox-diy-checked"></span>
                    <{else /}>
                    <input sub_id="<{$sbj.id}>" u_id="<{$member['uid']}>" type="radio" class="weui-check" name="radio_<{$sbj.id}>" id="x<{$sbj.id  . '_' . $as_index}>" value="<{$answer['a']}>">
                    
                    <span class="weui-icon-checkbox-diy weui-icon-checkbox-diy-uncheck"></span>
                    <{/if}>
                </div>
            </label>
            <{/volist}>
        </div>
        <{else /}>
        <div class="weui-cells__title">答案异常，请联系管理员</div>
        <{/notempty}>
    </div>
    <{/volist}>
    <{$list->render()}>
    <div class="weui-form__text-area c-timer">
        <span id="remainder_time_seconds" style="display: none;">
            <{$reminder_time}>
        </span>
        <h3 class="weui-form__desc" id="reminder_timer">
            <{$reminder_time_str}>
        </h3>
      </div>
    <{/empty}>
    <!--
    <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title sub-tit">
            <span class="must-star">*</span>
            <span>2、四大文明古国中的，四大文明是下列选项中的哪四个（）？</span>
        </div>
        <div class="weui-cells weui-cells_checkbox">
            <label class="weui-cell weui-check__label" for="s12">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s12">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>A、中国</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s13">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s13">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>B、中国</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s14">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s14">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>C、阿拉斯加</p>
                </div>
            </label>
            <label class="weui-cell weui-check__label" for="s14">
                <div class="weui-cell__hd">
                    <input type="checkbox" name="checkbox1" class="weui-check" id="s14">
                    <i class="weui-icon-checked"></i>
                </div>
                <div class="weui-cell__bd">
                    <p>D、美索不达</p>
                </div>
            </label>
        </div>
    </div>
    <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title sub-tit">
            <span class="must-star">*</span>
            <span>3、史记的作者是？</span>
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <input class="weui-input" type="text" placeholder="请输入文本">
                </div>
            </div>
        </div>
    </div>
    <div class="weui-cells__group weui-cells__group_form">
        <div class="weui-cells__title sub-tit">
            <span class="must-star">*</span>
            <span>4、请简述发生火灾时的操作规范。</span>
        </div>
        <div class="weui-cells weui-cells_form">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <textarea class="weui-textarea" placeholder="请输入文本" rows="3"></textarea>
                    <div class="weui-textarea-counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>

<!--右侧悬浮 begin-->
<div class="right-absolute-outer">
    <span>标注</span>
    <span>or</span>
    <span>做题</span>
</div>
<div class="right-absolute-inner">
    <a id="to_mark_subjects" href="<{:url('mobile/xmsubject/marksubjects', ['is_right_ab' => 1])}>"><{:config('subject.mark_title')}></a>
    <a id="to_undo_subjects" href="<{:url('mobile/xmsubject/undosubjects', ['is_right_ab' => 1])}>"><{:config('subject.undo_title')}></a>
    <a id="to_done_subjects" href="<{:url('mobile/xmsubject/donesubjects', ['is_right_ab' => 1])}>"><{:config('subject.done_title')}></a>
    <a id="to_done_subjects" href="<{:url('mobile/xmsubject/index', ['is_right_ab' => 1])}>"><{:config('subject.all_sub_title')}></a>
    <span class="close-right-ab-inner">关闭悬浮</span>
</div>
<!-- end -->