<{layout name="layout/layout" /}>
<{load href="/static/mobile/css/shuoshuo.css" /}> 
<{load href="/static/mobile/js/shuoshuo.js" /}> 
<div class="main">
    <div class="item rule">
        <span>请勿发布非法信息</span>
        <span class="do-rule-tip">发布规范</span>
    </div>
    <div class="item textarea">
        <textarea placeholder="填写内容12-500字"></textarea>
    </div>
    <div class="item img-upload">
        <div class="img-upload-tip">可以添加图片（大小不超过200K）</div>
        <div>icon上传图片</div>
    </div>
    <div class="item shuoshuo-btn">
        <button id="do_shuoshuo">发送</button>
    </div>
</div>