<{layout name="layout/layout" /}>
<{load href="/static/mobile/css/index.css" /}>
<{load href="/static/mobile/css/detail.css" /}>
<{load href="/static/mobile/js/index.js" /}> 
<div class="main">
    <div class="item">
        <div class="mem-info">
            <div class="mem-info-main">
                <div class="mem-hea-img">
                    <img src="<{$shuoshuo.head_img}>" />
                </div>
                <div class="mem-hea-info">
                    <span><{$shuoshuo.nick_name}></span>
                    <span class="time"><{:date('m-d H:i', strtotime($shuoshuo.create_time))}></span>
                </div>
            </div>
            <div class="icon-whole icon-menu"></div>
        </div>
        <div class="shuo-msg">
            <p>
                <{$shuoshuo.shuo_msg}>
            </p>
        </div>
        <{notempty name="shuoshuo.imgs" }>
        <div class="shuo-detail-imgs">
            <img src="<{$shuoshuo.imgs}>" />
        </div>
        <{/notempty}>
        <{notempty name="shuoshuo.marks" }>
        <div class="mark">
            <{assign name="mark_list" value="$shuoshuo.marks|explode=',',###" }>
            <{volist name="mark_list" id="mark" }>
            <span><{$mark}></span>
            <{/volist}>
        </div>
        <{/notempty}>
        <div class="shuo-action">
            <a>
                <span class="icon-whole icon-jubao"></span>
                <span>举报</span>
            </a>
            <a>
                <span class="icon-whole icon-fav"></span>
                <span><{$shuoshuo.fav_count}></span>
            </a>
            <a>
                <span class="icon-whole icon-share1"></span>
                <span>分享</span>
            </a>
        </div>
    </div>

    <div class="item item-comment">
        <div class="title-top"><span class="span-left"></span><span class="tit">用户评论</span></div>
        <div class="comment-msg-main">
            <{if condition="0"}>
            <div class="no-comm"><span class="icon-whole icon-comment2"></span><span>还没有评论</span></div>
            <{else/}>
            <div class="comment-item mem-info2">
                <div class="mem-info-main">
                    <div class="mem-hea-img">
                        <img src="__STATIC__/mobile/images/def_mine_top.jpg" />
                    </div>
                    <div class="mem-hea-info">
                        <span>令狐冲</span>
                        <span class="tip">10分钟前</span>
                    </div>
                </div>
                <div class="comment-content">
                    加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。
                </div>
            </div>

            <div class="comment-item mem-info2">
                <div class="mem-info-main">
                    <div class="mem-hea-img">
                        <img src="__STATIC__/mobile/images/qq.jpg" />
                    </div>
                    <div class="mem-hea-info">
                        <span>令狐冲</span>
                        <span class="tip">2019/11/27</span>
                    </div>
                </div>
                <div class="comment-content">
                    加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。加油哈。
                </div>
            </div>
            <{/if}>
        </div>
    </div>
    
    <div class="item comment">
        <div class="title-top"><span class="span-left"></span><span class="tit">我要留言</span></div>
        <div class="mem-info2">
            <div class="mem-info-main">
                <div class="mem-hea-img">
                    <img src="__STATIC__/mobile/images/head_def.jpg" />
                </div>
                <div class="mem-hea-info">
                    <span>令狐冲</span>
                    <span class="tip">文明留言，请勿恶意谩骂</span>
                </div>
            </div>
        </div>
        <div class="comment">
            <textarea placeholder="写下您的评论"></textarea>
        </div>
        <div class="comment-send">
            <a>发送</a>
        </div>
    </div>
</div>
<{include file="public/_footer_detail" /}>