<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<title>Title</title>
<script src="__STATIC__/mobile/js/common.js"></script>
<script src="__STATIC__/lib/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/lib/jquery-weui.min.js"></script>
<link rel="stylesheet" href="__STATIC__/lib/jquery-weui.min.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/lib/weui.min.css?v=1.0" />
<link rel="stylesheet" type="text/css" href="__STATIC__/mobile/css/common.css?v=1.0" />
</head>